.tape-clean:not(.tape-unclean),
.tape-clean :not(.tape-unclean) {
  background: transparent;
  color: inherit;
}

.tape-flat:not(.tape-unflat),
.tape-flat :not(.tape-unflat) {
  border-color: transparent;
}

.tape-a { --tape-hex: var(--tape-a) }

.tape-a {
  background: var(--tape-hex) !important;
  color: var(--tape-b) !important;
}

.tape-b {
  background: var(--tape-b) !important;
  color: var(--tape-hex, var(--tape-a)) !important;
}
